extends ../layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        a(href='/todos/user') See my todos

    .row
      .col-md-6.col-md-offset-3
        a(href='/todos/team') See team todos
    .row
      .col-md-6.col-md-offset-3
        a(href='/todos/create') Create a todo
